# Virtual Environment
venv*
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

#Model data and runs
models/YOLO_data/*
*/anomaly_data/
runs/
*.pt
results